.card-container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 630px) {
    .card-container {
        flex-direction: column;
    }
}